html{
  /*background-color: #081B27;*/
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30) fixed;
  background: linear-gradient(to right, #243B55, #141E30) fixed;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Product Sans';
}

body{
  color: #FCFFF5;
  font-family: 'Open Sans';
}

#stock-ticker-input{
  color:black;
}

#click-data{
  font-size: 1em;
}

#ticker-graph{
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 120px 1px;
  background: rgba(255, 255, 255, 0);
  height: 65vh;
}
